p{
    color:white;
}

h1{
    color:white;
}

li{
    color:white;
}

h2{
    color:white;
}

h3{
    color:white;
}

h6{
    color:white;
}

th{
    color:white;
}

i{
    color:red;
}

a{
    color:red;
}

body{
    background-image: url("../img/glitch-background.jpg") ;
}